*.log
*.pot
*.pyc
__pycache__/
media/
.env
db.sqlite3
settings.json

# PyCharm
.idea

static/

tatic/
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
# Add this line to .gitignore
terraform/.terraform/
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.68.0/linux_amd64/terraform-provider-aws_v5.68.0_x5
